::ng-deep .p-fieldset .p-fieldset-legend {
    background: rgba(78,45,135,1);
    color: #FFFFFF;
}
#myTable{
    /*   background-color: red; */
      tbody{
          p{
              font-size: 12px;
          }
      }
  }