<app-navbar></app-navbar>
<div class="container-fluid">
    <br>
    <p-fieldset legend="Estados de Movimientos" >

        
        <div class="card">
            <p-tabView>
                <p-tabPanel header="Cambiar por referencia">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <span>Reference</span><br>
                                <input type="text" class="form-control" [(ngModel)]="reference"> 
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <span>Status</span><br>
                                <select class="form-control" [(ngModel)]="status">
                                    <option value="1">Success</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Declined</option>
                                </select>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <button pButton type="button" label="Change Password" (click)="cambiar()"></button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                      
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Cambiar por ID">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <span>ID</span><br>
                                <input type="text" class="form-control" [(ngModel)]="reference"> 
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <span>Status</span><br>
                                <select class="form-control" [(ngModel)]="status">
                                    <option value="1">Success</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Declined</option>
                                </select>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <button pButton type="button" label="Change Password" (click)="cambiar2()"></button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                      
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>

    </p-fieldset>
</div>
