<app-navbar></app-navbar>
<div class="container-fluid">
    <br>
    <p-fieldset legend="Change Password" >
        
        <div class="mb-3">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <span>Current password</span><br>
                    <p-password [toggleMask]="true" [(ngModel)]="password" ></p-password>
                </div>
                <div class="col-md-4"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <span>New password</span><br>
                    <p-password [toggleMask]="true" [(ngModel)]="rePassword" ></p-password>
                 
                </div>
                <div class="col-md-4"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <button pButton type="button" label="Change" (click)="cambiar()"></button>
                </div>
                <div class="col-md-4"></div>
            </div>
          
        </div>
    </p-fieldset>
</div>
